{
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "eqeqeq": ["error", "always"]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true
  }
}
